

/*  =GENERAL start  */

body{
   font-family: 'Roboto', 'Tahoma', sans-serif; 
   color: #000000; 
}
h1,h2,h3,h4,p{
   margin-top: 0;
   margin-bottom: 0;
}
ul{
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}
img{
   display: block;
}
.container{
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;

}
.list{
   list-style: none;
}
.link{
   text-decoration: none;
}
.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.header,
.header-container,
.navigation,
.menu,
.contact,
.central-section,
.do-list,
.team-list,
.skill-list,
.filter-list,
.card-list{
   display: flex;
   align-items: center; 
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
/*  =GENERAL end  */
/*  =HEADER STATRT  */
/*  ==LOGO STATRT  */
.header{
   padding: 24px 0 25px 0;
   border-bottom:solid ;
   border-width: 0 0 1px 0;
   border-color: #ECECEC;
}
.logo-first-part-header{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #2196F3;
   margin-right: 93px; 
}
.logo-first-part{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #2196F3; 
}
.logo-second-part{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #000000; 
}
/*  ==LOGO END  */
/*  ==MENU STATRT  */
.header-container{
   justify-content: space-between;
}
.menu-item:not(:last-child){
   margin: 0 50px 0 0;
}
.menu-link{
   position: relative;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #212121;
   padding-bottom: 32px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus{
   color: #2196F3; 
}
.mail-icons{
   width: 16px;
   height: 12px;
   fill: #757575;
   margin-right: 10px;
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.telephone-icons{
   width: 10px;
   height: 16px;
   fill: #757575;
   margin-right: 10px;
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-item:not(:last-child){
   margin-right: 30px;
}
.contact-link{
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #757575;
   display: flex;
   align-items: center;
   transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.contact-link:hover,
.contact-link:focus{
   color: #2196F3;
}

.contact-link:hover .telephone-icons,
.contact-link:focus .telephone-icons,
.contact-link:hover .mail-icons,
.contact-link:focus .mail-icons{
   fill: #2196F3;
   }
/*  ==MENU END  */
/*  =HEADER END  */
/*  =MAIN STATRT  */
/*  = Botton start */
.main-section{
   max-width: 1600px;
   background-color: #C4C4C4;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;
   background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url("../images/hero-bg.jpg");
   background-size: cover;
}
.central-text{
   width: 696px;
   height: 120px;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   margin: 0 auto 30px auto ;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.button{
   padding:10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   border: 0;
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button:hover,
.button:focus{
   background-color: #188CE8;
}
/*  = Botton end */
/*  = Our Skills  */
.skill-list{
   margin-left: -30px;   
}
.skill-item{
   width: 270px;
   margin-left: 30px;
}
.skill-icon-box{
   width: 100%;
   padding: 25px 0;
   background-color: #F5F4FA;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.skill-icons{
   width: 70px;
   height: 70px;
   }
.skill-name{
   font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   margin-bottom: 10px;
}
.skill-description{
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #757575;
}
/*  = Our Skills  */
/*  = What we do start  */
.we-do{
   padding-bottom: 94px;
}
.info-team{
   margin-bottom: 50px;
}
.do-list{
   flex-wrap: wrap;
   margin-left: -30px;
}
.do-item{
   position: relative;
   margin-left: 30px;
}
.do-item-description{
   display: flex;
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 70px;
   color: #ffffff;
   background: rgba(47, 48, 58, 0.8);
   font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   align-items: center;
   justify-content: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
/*  = What we do start  */
/*  =Our Team start  */
.team{
   background: #F5F4FA;
}
.team-list{
   flex-wrap: wrap;
   margin-left: -30px;
}
.team-item{
   margin-left: 30px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.info-team{
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}
.team-name{
   padding: 30px 32px;
   }
.name{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 10px;
}
.profession{
   font-weight: normal;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
   margin-bottom: 16px;
}
.social-list{
   display: flex;
   justify-content: space-between;
}
.social-list-link{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   background-color: #ffffff;
   border-radius: 50%;
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus{
   background-color: #2196F3;
}
.social-list-icon{
   width: 20px;;
   height: 20px;
   fill: #AFB1B8;
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
   fill: #EEEEEE;
}
/*  =Our Team end  */
/*  =Our Clients start  */
.clients-list{
   display: flex;
   justify-content: space-between;
}
.clients-item-link{
   display: flex;
   align-items: center;
   justify-content: center; 
   width: 100%;
   padding:16px 32px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.clients-item-link:hover,
.clients-item-link:focus{
   border: 1px solid #2196F3;
}
.clients-icons{
   width: 106px;
   height: 60px;
   fill: #AFB1B8;
   transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item-link:hover .clients-icons,
.clients-item-link:focus .clients-icons{
   fill:#2196F3
}
/*  =Our Clients end  */
/*  =MAIN END  */
/*  =FOOTER START  */
.footer{
   background-color: #2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
   }
.footer-blocks{
   display: flex;
}
.left-side{
   margin-right: 70px;
}
   .logo-second-part-white{
   color: #FFFFFF;
   
}
.adress-company{
   margin: 20px 0 0 0;
}
.adress-item{
   margin-bottom: 9px;
}
.adress-item-second{
   margin-bottom: 9px;
}
.adress{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress:hover,
.adress:focus{
   color: #2196F3;
}
.mail-tel{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-tel:hover,
.mail-tel:focus{
   color: #2196F3;
}
.middle-side{
   margin-right: 93px;
}
.social-footer{
   font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 20px;
   }
.social-link-footer{
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color:rgba(255, 255, 255, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.social-link-footer:hover,
.social-link-footer:focus{
   background-color: #2196F3;
}
.social-list-footer{
   display: flex;
}
.social-item-footer:not(:last-child){
   margin-right: 10px;
}

.social-list-footer-icon{
   width: 20px;;
   height: 20px;
   fill: #ffffff;
}
.subscription-row{
   display: flex;
}
.subscription{
   width: 358px;
   height: 50px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-sizing: border-box;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0);
   padding: 15px 16px;
}
.subscription-row input{
   color: #ffffff;
}
.subscription::placeholder{
   font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.subscription-button{
   font-weight: bold;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   border-radius: 4px;
   padding: 10px 28px;
   margin-left: 12px;
   border: 0;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.subscription-button:focus,
.subscription-button:hover{
   background-color: #188CE8;;
}

.telegram-icon{
   width: 24px;
   height: 24px;
   margin-left: 10px;

}

/*  =FOOTER END  */
/* MODAL  Start*/
.backdrop{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.2);
   z-index: 10;
}
.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 528px;
   height: 581px;
   background-color: #ffffff;
   border-radius: 4px;
   padding: 40px 40px;
}
.close-button{
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   width: 30px;
   height: 30px;
   background: transparent;
   border: 1px solid rgba(0, 0, 0, 0.1);
   cursor: pointer;
   border-radius: 50%;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.close-button-icon{
   fill:currentColor;
   width: 18px;
   height: 18px;
}
.close-button-icon:hover,
.close-button-icon:focus{
   color:#2196f3;
}
.modal-fidback{
   display: flex;
   flex-direction: column;
}
.modal-form-header{
   font-weight: bold;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 12px;
}
.modal-form-field{
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: #757575;
   margin-bottom: 10px;
}
.modal-form-input{
   width: 100%;
}
.modal-form-comments{
   width: 100%;
}
.modal-form-checkbox-policy{
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #757575;
}
.modal-form-link-policy{
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration-line: underline;
   color: #2196F3;
}
.modal-button-field{
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
.modal-form-wrapper{
   display:block;
   position: relative;
   margin-top: 4px;
}
.modal-form-input{
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   padding-left: 42px;
   outline: none;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-form-input:focus{
   border-color: #2196f3;
}
/*
.modal-form-input:required:focus:not(:placeholder-shown):valid{
   border-color: green;
}
.modal-form-input:required:focus:not(:placeholder-shown):invalid{
   border-color: red;
}
*/
.modal-form-icons{
   position: absolute;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);
   width: 18px;
   height: 18px;
   fill: #212121;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-form-input:focus + .modal-form-icons{
   fill: #2196F3;
}
.modal-form-comments{
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   box-sizing: border-box;
   border-radius: 4px;
   outline: none;
   margin-top: 4px;
   margin-bottom: 10px;
   resize: none;
   padding: 12px 16px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-form-comments:focus{
   border-color: #2196f3;
}
.modal-form-comments::placeholder{
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox-policy::before{
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 16px;
   height: 15px;
   border: 2px solid #212121;
   border-radius: 2px;
   cursor: pointer;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-policy::before{
   background-image: url(../images/iconcheck.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #2196F3;
   border-color: #2196F3;
}
.modal-button-submit{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   color: #FFFFFF;
   background-color: #2196F3;
   border: 0;
   border-radius:4px;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.modal-button-submit:focus,
.modal-button-submit:hover{
   cursor: pointer;
   background-color: #188CE8;

}

/* MODAL  End*/
/* ===== PORTFOLIO START ===== */
/*  = SECTION BUTTON START ==== */
.current{
   color: #2196F3
}
.current::after{
   position: absolute;
   left: 0;
   bottom: 0;
   display: block;
   content: "";
   width: 100%;
   height: 4px;
   background: #2196F3;
   border-radius: 2px;
}
.filter-list{
   justify-content: center;
   margin-bottom: 50px;
}
.filter-item:not(:last-child){
   margin: 0 8px 0 0;
}
.filters{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   padding: 6px 22px;
   border-radius: 4px;
   border: 0;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.filters:hover,
.filters:focus{
   color: #FFFFFF;
   background-color: #2196F3;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);

}
/*  = SECTION BUTTON END ==== */
/*  = SECTION CARDS  START ==== */
.card-list{
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
}
.card-item{
   margin-left: 30px;
   margin-top: 30px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item:hover,
.card-item:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-item-link:hover .overlay,
.card-item-link:focus .overlay{
   transform: translateY(0);

}
.card-wrapper{
   position: relative;
   overflow: hidden;
}
.overlay{
   padding: 63px 24px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #FFFFFF;
   background: rgba(33, 150, 243, 0.9);
   overflow: auto;
   transform: translateY(101%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-border{
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
   box-sizing: border-box;
   padding: 20px 24px;
}
.project-name{
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
   color: #000000;
}
.project-description{
   font-weight: normal;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: #757575;
}
/*  = SECTION CARDS END ==== */
/* =====  PORTFOLIO END =====  */