

/*  =GENERAL start  */

body{
   font-family: 'Roboto', 'Tahoma', sans-serif; 
   color: #000000; 
}
h1,h2,h3,h4,p{
   margin-top: 0;
   margin-bottom: 0;
}
ul{
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}
img{
   display: block;
}
.container{
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;

}
.list{
   list-style: none;
}
.link{
   text-decoration: none;
}
.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.header,
.header-container,
.navigation,
.menu,
.contact,
.central-section,
.do-list,
.team-list,
.skill-list,
.filter-list,
.card-list{
   display: flex;
   align-items: center; 
}
/*  =GENERAL end  */
/*  =HEADER STATRT  */
/*  ==LOGO STATRT  */
.header{
   padding: 24px 0 25px 0;
   border-bottom:solid ;
   border-width: 0 0 1px 0;
   border-color: #ECECEC;
}
.logo-first-part{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #2196F3; 
}
.logo-second-part{
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #000000; 
}
.logo-first-part{
   margin: 0 93px 0 0;
}
/*  ==LOGO END  */
/*  ==MENU STATRT  */
.header-container{
   justify-content: space-between;
}
.menu-item:not(:last-child){
   margin: 0 50px 0 0;
}
.menu-link{
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #212121;
}
.menu-link:hover,
.menu-link:focus{
   color: #2196F3;
}
.mail-icons{
   width: 16px;
   height: 12px;
   fill: #757575;
}
.telephone-icons{
   width: 10px;
   height: 16px;
   fill: #757575;
}
.telephone-mail{
   display: flex;
}
.telephote-item{
   display: flex;
}
.telephote-item:not(:last-child){
   margin-right: 10px;
}
.contact-item:not(:last-child){
   margin: 0 50px 0 0;
}
.contact-link{
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #757575;
   display: flex;
   align-items: center;
   
}
.contact-link:hover,
.contact-link:focus{
   color: #2196F3;
}
/*  ==MENU END  */
/*  =HEADER END  */
/*  =MAIN STATRT  */
/*  = Botton start */
.main-section{
   max-width: 1600px;
   background-color: #C4C4C4;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;
   background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url("../images/hero-bg.jpg");
   background-size: cover;
}
.central-text{
   width: 696px;
   height: 120px;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   margin: 0 auto 30px auto ;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.button{
   padding:10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: #2196F3;
   border-color: #2196F3;
}
.button:hover,
.button:focus{
   background-color: #188CE8;
   border-color: #188CE8;
}
/*  = Botton end */
/*  = Our Skills  */
.skill-list{
   margin-left: -30px;   
}
.skill-item{
   width: 270px;
   margin-left: 30px;
}
.skill-icon-box{
   height: 120px;
   width: 270px;
   background-color: #F5F4FA;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.skill-icons{
   width: 70px;
   height: 70px;
   }
.skill-name{
   font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   margin-bottom: 10px;
}
.skill-description{
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #757575;
}
/*  = Our Skills  */
/*  = What we do start  */
.we-do{
   padding-bottom: 94px;
}
.info-team{
   margin-bottom: 50px;
}
.do-list{
   flex-wrap: wrap;
   margin-left: -30px;
}
.do-item{
   margin-left: 30px;
}
/*  = What we do start  */
/*  =Our Team start  */
.team{
   background: #F5F4FA;
}
.team-list{
   flex-wrap: wrap;
   margin-left: -30px;
}
.team-item{
   margin-left: 30px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.info-team{
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}
.team-name{
   padding: 30px 32px;
   }
.name{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 10px;
}
.profession{
   font-weight: normal;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
   margin-bottom: 16px;
}
.social-list{
   display: flex;
   justify-content: space-between;
}
.social-list-link{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   background-color: #ffffff;
   border-radius: 50%;
}
.social-list-link:hover,
.social-list-link:focus{
   background-color: #2196F3;
}
.social-list-icon{
   width: 20px;;
   height: 20px;
   fill: #AFB1B8;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
   fill: #EEEEEE;
}
/*  =Our Team end  */
/*  =Our Clients start  */
.clients-list{
   display: flex;
   justify-content: space-between;
}
.clients-item-link{
   width: 170px;
   height: 92px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
   border: 1px solid #AFB1B8;
}
.clients-item-link:hover,
.clients-item-link:focus{
   border: 1px solid #2196F3;

}
.clients-icons{
   width: 106px;
   height: 60px;
   fill: #AFB1B8;
}
.clients-icons:hover,
.clients-icons:focus{
   fill:#2196F3
}
/*  =Our Clients end  */
/*  =MAIN END  */
/*  =FOOTER START  */
.footer{
   background-color: #2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
   }
.footer-blocks{
   display: flex;
}
.left-side{
   margin-right: 70px;
}
   .logo-second-part-white{
   color: #FFFFFF;
   
}
.adress-company{
   margin: 20px 0 0 0;
}
.adress-item{
   margin-bottom: 9px;
}
.adress-item-second{
   margin-bottom: 9px;
}
.adress{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.adress:hover,
.adress:focus{
   color: #2196F3;
}
.mail-tel{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.mail-tel:hover,
.mail-tel:focus{
   color: #2196F3;
}
.social-footer{
   font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-top: 12px;
   padding-bottom: 20px;
   }
.social-link-footer{
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color:rgba(255, 255, 255, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
}
.social-list-footer{
   display: flex;
}
.social-item-footer:not(:last-child){
   margin-right: 10px;
}
.social-link-twitter{
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color:#2196F3;
   display: flex;
   align-items: center;
   justify-content: center;
}
.social-list-footer-icon{
   width: 20px;;
   height: 20px;
   fill: #ffffff;
}
/*  =FOOTER END  */
/* ===== PORTFOLIO START ===== */
/*  = SECTION BUTTON START ==== */
.current{
   color: #2196F3
}
.filter-list{
   justify-content: center;
   margin-bottom: 50px;
}
.filter-item:not(:last-child){
   margin: 0 8px 0 0;
}
.filters{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   padding: 6px 22px;
   border-radius: 4px;
   border: 0;
}
.filters:hover,
.filters:focus{
   color: #FFFFFF;
   background-color: #2196F3;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
/*  = SECTION BUTTON END ==== */
/*  = SECTION CARDS  START ==== */
.card-list{
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
}
.card-item{
   margin-left: 30px;
   margin-top: 30px;
}
.card-border{
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
   box-sizing: border-box;
   padding: 20px 24px;
}
.project-name{
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
}
.project-description{
   font-weight: normal;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: #757575;
}
/*  = SECTION CARDS END ==== */
/* =====  PORTFOLIO END =====  */