
.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.header,
.header__container,
.header__navigation,
.menu,
.contact,
.central-section,
.we-do__list,
.team-list,
.skill__list,
.filter-list,
.card-list{
   display: flex;
   align-items: center; 
}
