.list{
   list-style: none;
}
.link{
   text-decoration: none;
}
.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.header,
.header-container,
.header__navigation,
.menu,
.contact,
.central-section,
.do-list,
.team-list,
.skill-list,
.filter-list,
.card-list{
   display: flex;
   align-items: center; 
}
