.section {
   padding-top: 60px;
   padding-bottom: 60px;

   @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}
.header,
.header__container,
.header__navigation,
.menu,
.contact,
.central-section,
.we-do__list,
.team-list,
.filter-list,
.card-list {
   display: flex;
   align-items: center;
}
